* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
  background-color: #131516 !important;
}

body {
  padding: 5px;
}

header {
  font-size: 20px;

  h1 {
    padding: 10px 20px 0 20px;
    margin: 0;

    a {
      color: white;
      text-decoration: none;

      img {
        max-height: 100px;
        max-width: 100%;
        min-width: 50px;
      }
    }
  }
}

main {
  $side: 20px;
  padding: 10px $side 0 $side;

  @media (max-width: 950px) {
    $side: clamp(0px, 1vw, 20px);
    padding: 10px $side 0 $side;

  }

  .Slideshow {
    position: relative;
    z-index: 100;

    .wrap {
      position: relative;
      width: clamp(100px, 600px, 100%);
      margin-bottom: 10px;
      aspect-ratio: 5/3;
      border-radius: 3px;
      background-color: #313334;
      overflow: hidden;

      ul {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-left: 0;
        transform: translate(-100%, 0);

        &.left,
        &.right {
          animation: moveSlide-left;
          animation-timing-function: ease-in-out;
          animation-duration: 0.7s;
          animation-iteration-count: 1;
        }

        &.right {
          animation: moveSlide-right;
          animation-timing-function: ease-in-out;
          animation-duration: 0.7s;
          animation-iteration-count: 1;
        }

        @keyframes moveSlide-left {
          from {
            transform: translate(-200%, 0);
          }

          to {
            transform: translate(-100%, 0);
          }
        }

        @keyframes moveSlide-right {
          from {
            transform: translate(0%, 0);
          }

          to {
            transform: translate(-100%, 0);
          }
        }

        li {
          position: relative;
          float: left;
          flex-shrink: 0;
          width: 100%;
          height: 100%;
          list-style: none;

          &:only-child {
            margin-left: 100%;
          }

          a {
            display: flex;
            color: white;
            text-decoration: none;

            img.main {
              width: 100%;
            }

            img.watermark {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 8%;
              opacity: 0.3;
            }

            .text-wrap {
              position: absolute;
              bottom: 5%;
              left: 0;
              right: 0;
              min-height: 20%;
              max-height: 50%;
              background-color: #000A;

              @media (max-width: 600px) {
                bottom: 0;
              }

              &:hover {
                background-color: #000000B0;
              }

              h1 {
                margin: 10px;
                margin-bottom: 0;
                font-size: clamp(10px, 5vw, 30px);
              }

              h2 {
                margin: 10px;
                margin-top: 0;
                font-size: clamp(5px, 3vw, 20px);
                font-weight: 500;
                color: #AAA;
              }
            }
          }
        }
      }

      .nav-button {
        position: absolute;
        $size: clamp(5px, 7vw, 50px);
        top: calc(50% - calc(#{$size} / 2));
        width: $size;
        height: $size;
        border: none;
        border-radius: 2px;
        font-size: clamp(5px, 4vw, 30px);
        background-color: #0006;
        color: #FFFA;
        cursor: pointer;

        &:hover {
          background-color: #0007;
        }

        $padding: calc(#{$size} * 0.1);

        &.left {
          left: 0;
          padding: $padding $padding 0 0;
        }

        &.right {
          right: 0;
          padding: $padding 0 0 $padding;
        }
      }
    }
  }

  .Articles {
    margin-top: 0;
    padding-left: 0;

    li {
      display: flex;
      list-style: none;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      a {
        display: flex;
        text-decoration: none;
        cursor: default;

        @media (max-width: 950px) {
          display: inline;
          width: 100%;
        }

        &:hover {
          .headline {
            text-decoration: underline;
          }
        }


        .img-contain {
          position: relative;
          float: left;
          display: flex;
          cursor: pointer;
          height: 100px;

          @media (max-width: 950px) {
            width: 100%;
            min-width: 80px;
            margin: auto;
          }

          .img-wrap {
            display: flex;
            width: 100px;
            max-width: 100%;
            max-height: 100%;
            margin: auto;

            @media (max-width: 950px) {
              width: 100%;
              height: 100%;

              @media (min-width: 400px) {

                &::before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 30px;
                  right: 30px;
                  transform: translate(0, -50%);
                  display: block;
                  height: 2px;
                  background-color: #FFF4;
                  z-index: 50;
                }

                img {
                  border: 30px solid #131516;
                  border-top: none;
                  border-bottom: none;
                  z-index: 51;
                }
              }
            }


            img {
              max-width: 100%;
              max-height: 100%;
              margin: auto;
              border-radius: 3px;
            }
          }
        }

        .text-wrap {
          display: inline-block;
          margin: auto;
          margin-left: 10px;
          color: white;

          .headline {
            margin: 5px 0;
            font-size: clamp(20px, 6vw, 30px);
            cursor: pointer;
          }

          .subtitle {
            margin: 2px 0;
            font-size: clamp(15px, 4vw, 23px);
            font-weight: 500;
            color: #A0A0A0;
            cursor: pointer;
          }
        }
      }
    }
  }

  .ContentArticle {
    color: white;

    .topics {
      margin: 5px 0;
      font-size: clamp(8px, 4vw, 15px);
      color: #888;

      span:not(:first-of-type) {
        margin-left: 10px;

        &::before {
          content: "/";
          margin-right: 10px;
          color: #444;
        }

        @media (max-width: 400px) {
          display: block;

          &:not(:first-of-type) {
            margin-left: 0px;
          }
        }
      }
    }

    .headline {
      margin: 10px 0;
      font-size: clamp(20px, 10vw, 40px);
    }

    .stats {
      font-size: clamp(10px, 5vw, 17px);
      font-weight: 500;
      color: #AAA;

      span {
        &:not(:first-of-type) {
          margin-left: 10px;
        }

        @media (max-width: 500px) {
          display: block;

          &:not(:first-of-type) {
            margin-left: 0px;
          }
        }

        i {
          margin-right: 5px;
        }
      }
    }

    .img-contain {
      max-width: 100%;

      @media (min-width: 1000px) {
        float: right;
        max-width: 40%;
        margin-top: -30px;
      }

      .img-wrap {
        display: block;
        max-width: min(100%, 500px);
        margin: auto;
        border-radius: 3px;

        img {
          display: block;
          max-width: 100%;
          height: 100%;
          border-radius: 3px;

          &.unloaded {
            width: 200px;
          }
        }
      }
    }

    .body {
      margin-top: 10px;
      line-height: 150%;
      font-size: clamp(10px, 5vw, 16px);

      a {
        color: white;
      }

      div>span {
        padding-right: 5px;
      }


      li {
        margin-bottom: 0;
        margin-left: 30px;
        padding-left: 10px;

        &:first-of-type {
          margin-top: 10px;
        }

        &.number {
          list-style: none;
          margin-left: 0;

          b {
            margin-right: 10px;
          }
        }
      }

      blockquote {
        display: inline-block;
        margin-right: 0;
        margin-left: clamp(0px, 4vw, 40px);
      }

      h1,
      h2,
      h3,
      h4 {
        margin: 10px 0px;
      }
    }
  }

  .loading {
    color: white;

    .loading-spinner {
      display: inline-block;
      animation: spin;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

.watermark {
  position: absolute;
  top: 10px;
  right: 10px;

  @media (max-width: 450px) {
    display: none;
  }

  img {
    width: 80px;
    opacity: 0.2;
  }
}

.FourOFour {
  color: white;
}

footer {
  margin-top: 70px;

  &,
  * {
    color: #262829;
  }
}

blockquote {
  padding: 10px;
  border-left: 10px solid #2a353b;
  background-color: #1d2224;
}

code {
  padding: 0 3px 1px 3px;
  background-color: #b5394430;
  color: #ce4c59;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}