* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html,
body {
  background-color: #131516 !important;
}

body {
  padding: 5px;
}

header {
  font-size: 20px;
}
header h1 {
  padding: 10px 20px 0 20px;
  margin: 0;
}
header h1 a {
  color: white;
  text-decoration: none;
}
header h1 a img {
  max-height: 100px;
  max-width: 100%;
  min-width: 50px;
}

main {
  padding: 10px 20px 0 20px;
}
@media (max-width: 950px) {
  main {
    padding: 10px clamp(0px, 1vw, 20px) 0 clamp(0px, 1vw, 20px);
  }
}
main .Slideshow {
  position: relative;
  z-index: 100;
}
main .Slideshow .wrap {
  position: relative;
  width: clamp(100px, 600px, 100%);
  margin-bottom: 10px;
  aspect-ratio: 5/3;
  border-radius: 3px;
  background-color: #313334;
  overflow: hidden;
}
main .Slideshow .wrap ul {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  transform: translate(-100%, 0);
}
main .Slideshow .wrap ul.left, main .Slideshow .wrap ul.right {
  animation: moveSlide-left;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
main .Slideshow .wrap ul.right {
  animation: moveSlide-right;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
@keyframes moveSlide-left {
  from {
    transform: translate(-200%, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}
@keyframes moveSlide-right {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}
main .Slideshow .wrap ul li {
  position: relative;
  float: left;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
main .Slideshow .wrap ul li:only-child {
  margin-left: 100%;
}
main .Slideshow .wrap ul li a {
  display: flex;
  color: white;
  text-decoration: none;
}
main .Slideshow .wrap ul li a img.main {
  width: 100%;
}
main .Slideshow .wrap ul li a img.watermark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8%;
  opacity: 0.3;
}
main .Slideshow .wrap ul li a .text-wrap {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  min-height: 20%;
  max-height: 50%;
  background-color: #000A;
}
@media (max-width: 600px) {
  main .Slideshow .wrap ul li a .text-wrap {
    bottom: 0;
  }
}
main .Slideshow .wrap ul li a .text-wrap:hover {
  background-color: #000000B0;
}
main .Slideshow .wrap ul li a .text-wrap h1 {
  margin: 10px;
  margin-bottom: 0;
  font-size: clamp(10px, 5vw, 30px);
}
main .Slideshow .wrap ul li a .text-wrap h2 {
  margin: 10px;
  margin-top: 0;
  font-size: clamp(5px, 3vw, 20px);
  font-weight: 500;
  color: #AAA;
}
main .Slideshow .wrap .nav-button {
  position: absolute;
  top: calc(50% - calc(clamp(5px, 7vw, 50px) / 2));
  width: clamp(5px, 7vw, 50px);
  height: clamp(5px, 7vw, 50px);
  border: none;
  border-radius: 2px;
  font-size: clamp(5px, 4vw, 30px);
  background-color: #0006;
  color: #FFFA;
  cursor: pointer;
}
main .Slideshow .wrap .nav-button:hover {
  background-color: #0007;
}
main .Slideshow .wrap .nav-button.left {
  left: 0;
  padding: calc(clamp(5px, 7vw, 50px) * 0.1) calc(clamp(5px, 7vw, 50px) * 0.1) 0 0;
}
main .Slideshow .wrap .nav-button.right {
  right: 0;
  padding: calc(clamp(5px, 7vw, 50px) * 0.1) 0 0 calc(clamp(5px, 7vw, 50px) * 0.1);
}
main .Articles {
  margin-top: 0;
  padding-left: 0;
}
main .Articles li {
  display: flex;
  list-style: none;
}
main .Articles li:not(:last-of-type) {
  margin-bottom: 10px;
}
main .Articles li a {
  display: flex;
  text-decoration: none;
  cursor: default;
}
@media (max-width: 950px) {
  main .Articles li a {
    display: inline;
    width: 100%;
  }
}
main .Articles li a:hover .headline {
  text-decoration: underline;
}
main .Articles li a .img-contain {
  position: relative;
  float: left;
  display: flex;
  cursor: pointer;
  height: 100px;
}
@media (max-width: 950px) {
  main .Articles li a .img-contain {
    width: 100%;
    min-width: 80px;
    margin: auto;
  }
}
main .Articles li a .img-contain .img-wrap {
  display: flex;
  width: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
@media (max-width: 950px) {
  main .Articles li a .img-contain .img-wrap {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 950px) and (min-width: 400px) {
  main .Articles li a .img-contain .img-wrap::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    transform: translate(0, -50%);
    display: block;
    height: 2px;
    background-color: #FFF4;
    z-index: 50;
  }
  main .Articles li a .img-contain .img-wrap img {
    border: 30px solid #131516;
    border-top: none;
    border-bottom: none;
    z-index: 51;
  }
}
main .Articles li a .img-contain .img-wrap img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 3px;
}
main .Articles li a .text-wrap {
  display: inline-block;
  margin: auto;
  margin-left: 10px;
  color: white;
}
main .Articles li a .text-wrap .headline {
  margin: 5px 0;
  font-size: clamp(20px, 6vw, 30px);
  cursor: pointer;
}
main .Articles li a .text-wrap .subtitle {
  margin: 2px 0;
  font-size: clamp(15px, 4vw, 23px);
  font-weight: 500;
  color: #A0A0A0;
  cursor: pointer;
}
main .ContentArticle {
  color: white;
}
main .ContentArticle .topics {
  margin: 5px 0;
  font-size: clamp(8px, 4vw, 15px);
  color: #888;
}
main .ContentArticle .topics span:not(:first-of-type) {
  margin-left: 10px;
}
main .ContentArticle .topics span:not(:first-of-type)::before {
  content: "/";
  margin-right: 10px;
  color: #444;
}
@media (max-width: 400px) {
  main .ContentArticle .topics span:not(:first-of-type) {
    display: block;
  }
  main .ContentArticle .topics span:not(:first-of-type):not(:first-of-type) {
    margin-left: 0px;
  }
}
main .ContentArticle .headline {
  margin: 10px 0;
  font-size: clamp(20px, 10vw, 40px);
}
main .ContentArticle .stats {
  font-size: clamp(10px, 5vw, 17px);
  font-weight: 500;
  color: #AAA;
}
main .ContentArticle .stats span:not(:first-of-type) {
  margin-left: 10px;
}
@media (max-width: 500px) {
  main .ContentArticle .stats span {
    display: block;
  }
  main .ContentArticle .stats span:not(:first-of-type) {
    margin-left: 0px;
  }
}
main .ContentArticle .stats span i {
  margin-right: 5px;
}
main .ContentArticle .img-contain {
  max-width: 100%;
}
@media (min-width: 1000px) {
  main .ContentArticle .img-contain {
    float: right;
    max-width: 40%;
    margin-top: -30px;
  }
}
main .ContentArticle .img-contain .img-wrap {
  display: block;
  max-width: min(100%, 500px);
  margin: auto;
  border-radius: 3px;
}
main .ContentArticle .img-contain .img-wrap img {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 3px;
}
main .ContentArticle .img-contain .img-wrap img.unloaded {
  width: 200px;
}
main .ContentArticle .body {
  margin-top: 10px;
  line-height: 150%;
  font-size: clamp(10px, 5vw, 16px);
}
main .ContentArticle .body a {
  color: white;
}
main .ContentArticle .body div > span {
  padding-right: 5px;
}
main .ContentArticle .body li {
  margin-left: 30px;
  padding-left: 10px;
}
main .ContentArticle .body blockquote {
  display: inline-block;
  margin-right: 0;
  margin-left: clamp(0px, 4vw, 40px);
}
main .ContentArticle .body h1,
main .ContentArticle .body h2,
main .ContentArticle .body h3,
main .ContentArticle .body h4 {
  margin: 10px 0px;
}
main .loading {
  color: white;
}
main .loading .loading-spinner {
  display: inline-block;
  animation: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.watermark {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 450px) {
  .watermark {
    display: none;
  }
}
.watermark img {
  width: 80px;
  opacity: 0.2;
}

.FourOFour {
  color: white;
}

footer {
  margin-top: 70px;
}
footer,
footer * {
  color: #262829;
}

blockquote {
  padding: 10px;
  border-left: 10px solid #2a353b;
  background-color: #1d2224;
}

code {
  padding: 0 3px 1px 3px;
  background-color: #b5394430;
  color: #ce4c59;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}