* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html,
body {
  background-color: #181a1b !important;
}

body {
  padding: 5px;
}

header {
  font-size: 20px;
}
header h1 {
  padding: 10px 20px 0 20px;
  margin: 0;
}
header h1 a {
  color: white;
  text-decoration: none;
}
header h1 a img {
  max-height: 100px;
}

main {
  padding: 10px 20px 0 20px;
}
main .Articles {
  margin-top: 0;
  padding-left: 0;
}
main .Articles li {
  display: flex;
  list-style: none;
}
main .Articles li:not(:last-of-type) {
  margin-bottom: 10px;
}
main .Articles li a {
  cursor: default;
}
main .Articles li a:hover .headline {
  text-decoration: underline;
}
main .Articles li a .img-wrap {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  align-items: center;
  border-radius: 5px;
  background-color: #313334;
  cursor: pointer;
}
main .Articles li a .img-wrap img {
  position: absolute;
  bottom: 0px;
  transform: translate(0, -25%);
  max-width: 100%;
  max-height: 100%;
}
main .Articles li a .img-wrap img::before {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: white;
}
main .Articles li a .text-wrap {
  display: inline-block;
  margin-left: 10px;
  color: white;
}
main .Articles li a .text-wrap .headline {
  margin: 10px 0 0 0;
  cursor: pointer;
}
main .Articles li a .text-wrap .subtitle {
  margin: 5px 0 0 0;
  font-weight: 500;
  color: #A0A0A0;
  cursor: pointer;
}

.ContentArticle {
  color: white;
}
.ContentArticle .topics {
  margin: 5px 0;
  font-size: 15px;
  color: #888;
}
.ContentArticle .topics span:not(:first-of-type) {
  margin-left: 10px;
}
.ContentArticle .topics span:not(:first-of-type)::before {
  content: "/";
  margin-right: 10px;
  color: #444;
}
.ContentArticle .headline {
  margin: 10px 0;
  font-size: 40px;
}
.ContentArticle .stats {
  font-size: 17px;
  font-weight: 500;
  color: #AAA;
}
.ContentArticle .stats span:not(:first-of-type) {
  margin-left: 10px;
}
.ContentArticle .stats span i {
  margin-right: 5px;
}
.ContentArticle .img-contain {
  display: block;
  height: 200px;
  border-radius: 5px;
  text-align: center;
}
.ContentArticle .img-contain .img-wrap {
  display: inline-block;
  height: 100%;
  background-color: #313334;
}
.ContentArticle .img-contain .img-wrap img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.ContentArticle .img-contain .img-wrap img.unloaded {
  width: 200px;
}
.ContentArticle .body a {
  color: white;
}

.loading {
  color: white;
}
.loading .loading-spinner {
  display: inline-block;
  animation: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.FourOFour {
  color: white;
}

footer {
  margin-top: 70px;
}
footer,
footer * {
  color: #262829;
}

blockquote {
  padding: 10px;
  border-left: 10px solid #2a353b;
  background-color: #1d2224;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}