.ArticleList {
  margin-top: 0;
  padding-left: 0;

  li {
    display: flex;
    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    a {
      display: flex;
      text-decoration: none;
      cursor: default;

      @media (max-width: 950px) {
        display: inline;
        width: 100%;
      }

      &:hover {
        .headline {
          text-decoration: underline;
        }
      }


      .img-contain {
        position: relative;
        float: left;
        display: flex;
        cursor: pointer;
        height: 100px;

        @media (max-width: 950px) {
          width: 100%;
          min-width: 80px;
          margin: auto;
        }

        .img-wrap {
          display: flex;
          width: 100px;
          max-width: 100%;
          max-height: 100%;
          margin: auto;

          @media (max-width: 950px) {
            width: 100%;
            height: 100%;

            @media (min-width: 400px) {

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 30px;
                right: 30px;
                transform: translate(0, -50%);
                display: block;
                height: 2px;
                background-color: #FFF4;
                z-index: 50;
              }

              img {
                border: 30px solid #131516;
                border-top: none;
                border-bottom: none;
                z-index: 51;
              }
            }
          }


          img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            border-radius: 3px;
          }
        }
      }

      .text-wrap {
        display: inline-block;
        margin: auto;
        margin-left: 10px;
        color: white;

        .headline {
          margin: 5px 0;
          font-size: clamp(20px, 6vw, 30px);
          cursor: pointer;
        }

        .subtitle {
          margin: 2px 0;
          font-size: clamp(15px, 4vw, 23px);
          font-weight: 500;
          color: #A0A0A0;
          cursor: pointer;
        }
      }
    }
  }
}