.ScrollBanner {
  $height: 30px;
  height: $height;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #0c0e10;
  overflow: hidden;

  &:hover {
    .wrap .move {
      animation-play-state: paused;
    }
  }

  .wrap {
    height: 100%;
    transform: translate(100%, 0);

    .move {
      display: flex;
      height: 100%;
      animation: ScrollBanner linear 10s infinite;

      @keyframes ScrollBanner {
        0% {
          transform: translate(0%, 0);
        }

        100% {
          transform: translate(-100%, 0);
        }
      }

      .item {
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;

        &:hover {
          h1 {
            text-decoration: underline;
          }
        }

        a {
          display: inline-block;
          height: 100%;
          margin: 0;
          padding-right: 15px;

          .img-wrap {
            display: flex;
            float: left;
            width: $height;
            height: 100%;
            margin-right: 15px;

            img {
              min-width: 100%;
              min-height: 100%;
              margin: auto;
              object-fit: cover;
              color: white;
              font-size: 10px;
            }
          }

          .text-wrap {
            display: inline-flex;
            padding: 0;
            height: 100%;

            h1 {
              display: inline-block;
              vertical-align: middle;
              padding: 0;
              margin: auto;
              font-size: clamp(12px, 3vw, 17px);
              font-weight: 400;
              color: white;
            }
          }
        }
      }
    }
  }
}