.ArticleList {
  margin-top: 0;
  padding-left: 0;

  li {
    display: flex;
    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &.skeleton {

      * {
        user-select: none;
      }


      img {
        width: 100%;
        aspect-ratio: 1/1;
        color: #0000;
      }

      .img-wrap,
      .headline,
      .subtitle {
        border-radius: 10px;
        background-color: #0c0e10;
        color: #0000 !important;
      }

      .subtitle {
        border-radius: 7px;
      }
    }

    a {
      display: flex;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        .img-contain {
          transform: scale(0.92);
        }

        .headline {
          text-decoration: underline;
        }
      }

      .img-contain {
        position: relative;
        float: left;
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 3px;
        overflow: hidden;

        .img-wrap {
          display: flex;
          width: 100px;
          max-width: 100%;
          max-height: 100%;
          transform: translateX(50%);

          img {
            width: 100%;
            height: 100%;
            transform: translateX(-50%);
            object-fit: cover;
            color: #AAA;
          }
        }
      }

      @media screen {
        @media (max-width: 950px) {
          display: inline;
          width: 100%;

          .img-contain {
            width: 100%;
            min-width: 80px;
            margin: auto;

            .img-wrap {
              width: 100%;
              height: 100%;

              @media (min-width: 400px) {

                &::before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 30px;
                  right: 30px;
                  transform: translateY(-50%);
                  display: block;
                  height: 2px;
                  background-color: #FFF4;
                  z-index: 50;
                }

                img {
                  border: 30px solid #131516;
                  border-top: none;
                  border-bottom: none;
                  z-index: 51;
                }
              }
            }
          }
        }
      }

      .text-wrap {
        display: inline-block;
        margin: auto;
        margin-left: 10px;
        color: white;

        .headline {
          margin: 5px 0;
          font-size: clamp(20px, 6vw, 30px);
        }

        .subtitle {
          display: inline;
          margin: 2px 0;
          font-size: clamp(15px, 4vw, 23px);
          font-weight: 500;
          color: #A0A0A0;

          @media print {
            opacity: 0.7;
          }
        }
      }
    }
  }
}