.ContentArticle {
  color: white;

  &.skeleton {

    * {
      user-select: none;
    }

    .topics {
      h2 {
        margin-bottom: 2px;

        &:before {
          content: "" !important;
          margin: 0 !important;
        }

        span {
          display: inline-block !important;
          border-radius: 5px;
          background-color: #0f1113;
          color: #0000 !important;

          &::before {
            content: none !important;
          }
        }
      }
    }

    .headline,
    .img-wrap {
      border-radius: 10px !important;
      background-color: #0c0e10;
      color: #0000 !important;
    }

    .stats {
      h2 {
        margin-bottom: 2px;

        span {
          i {
            color: #0000;
          }

          border-radius: 5px;
          background-color: #0f1113;
          color: #0000 !important;
          margin-right: 2px;
        }
      }
    }


    .img-wrap {
      width: 400px;
      height: 300px;
      background-color: #0f1113;
    }

    .body {
      span {
        background-color: #0c0e10;
        color: #0000 !important;
        border-radius: 5px;
        line-height: 180%;
      }
    }
  }

  .topics {
    margin: 5px 0;
    color: #888;
    margin: 0;

    h2 {
      display: inline;
      font-size: clamp(8px, 4vw, 15px);
      margin: 0;

      &:not(:first-of-type) {
        margin-left: 10px;

        &::before {
          content: "/";
          margin-right: 10px;
          color: #754975;
        }

        @media (max-width: 400px) {
          display: block;

          &:not(:first-of-type) {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .headline {
    display: inline-block;
    margin: 10px 0;
    font-size: clamp(20px, 10vw, 40px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .stats {
    margin-bottom: 10px;
    color: #AAA;

    h2 {
      display: block;
      margin: 0;
      font-size: clamp(10px, 5vw, 17px);

      @media (min-width: 500px) {
        display: inline;

        &:not(:first-of-type) {
          span {
            margin-left: 15px;
          }
        }
      }

      span {
        i {
          margin-right: 5px;
          color: #8B6491;
        }
      }
    }
  }

  .img-contain {
    max-width: 100%;

    @media (min-width: 1000px) {
      float: right;
      max-width: 40%;
      margin-top: -30px;
    }

    .img-wrap {
      display: block;
      max-width: min(100%, 500px);
      margin: auto;
      border-radius: 3px;

      img {
        display: block;
        max-width: 100%;
        height: 100%;
        border-radius: 3px;

        &.unloaded {
          width: 200px;
        }

        &:hover {
          transform: scale(0.99);
        }
      }
    }
  }

  .body {
    margin-top: 10px;
    line-height: 170%;
    font-size: clamp(10px, 5vw, 16px);

    div {
      &:empty {
        display: block;
        height: 20px;
      }

      a {
        color: white;

        &:not(:hover) {
          text-decoration: none;
        }
      }

      li {
        margin-bottom: 0;
        margin-left: 30px;
        padding-left: 10px;

        &:first-of-type {
          margin-top: 10px;
        }

        &.number {
          list-style: none;
          margin-left: 0;

          b {
            margin-right: 10px;
          }
        }
      }

      blockquote {
        display: inline-block;
        margin-right: 0;
        margin-left: clamp(0px, 4vw, 40px);
      }

      h1,
      h2,
      h3,
      h4 {
        margin: 10px 0px;
      }
    }
  }
}