.Contact {

  h1 {
    color: white;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: white;

    &:hover {
      h2 {
        text-decoration: underline;
      }
    }
  }

  hr {
    color: #754975;
  }

  img {
    max-width: 100%;
  }
}