.Error404 {
  color: white;

  a {
    color: white;

    &:not(:hover) {
      text-decoration: none;
    }

    &:focus-visible {
      outline: none;

      h2 {
        text-decoration: underline;
      }
    }
  }

  img {
    max-width: 100%;
  }
}