.Exclusive {
  $border: 3px;

  position: relative;
  width: clamp(100px, calc(100% - #{$border} * 2), 400px);
  aspect-ratio: 1/1;
  margin: auto;
  margin-top: 60px;
  border: $border solid #754975;
  background-color: #181a1b;
  overflow: hidden;

  &:focus-within {
    outline: 2px solid white;
  }

  @media print {
    display: none;
  }

  &.skeleton {
    img {
      transform: none !important;
      color: #0000;
    }

    .headline,
    .subtitle {
      text-decoration: none !important;

      span {
        border-radius: 15px;
        background-color: #151717;
        color: #0000;
      }
    }

    .subtitle {
      span {
        border-radius: 10px;
      }
    }
  }

  a {
    display: block;
    padding-top: 110%;

    &:hover {
      .headline {
        text-decoration: underline;
      }
    }

    &:focus-visible {
      .headline {
        text-decoration: underline;
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateY(-110%);
      object-fit: cover;
      background-color: #181a1b;
      color: white;

      &.unloaded {
        margin-top: 60px;
      }
    }

    .top,
    .bottom {
      position: absolute;
      left: 0;
      right: 0;
      color: #FFF;
      background-color: #000A;
      backdrop-filter: blur(4px);
    }

    $margin: clamp(2px, 0.5vw, 5px);

    .top {
      top: 0;
      margin: 0;
      text-align: center;

      h1,
      h2 {
        margin: $margin;
      }

      h1 {
        margin-bottom: 0;
        font-size: clamp(15px, 8vw, 30px);
      }

      h2 {
        margin-top: $margin;
        margin-bottom: $margin / 0.5;
        font-size: clamp(5px, 4vw, 15px);
        font-weight: 500;
      }
    }

    .bottom {
      bottom: 0;

      .headline,
      .subtitle {
        margin: $margin;
      }

      .headline {
        margin-bottom: 0;
        font-size: clamp(10px, 5vw, 25px);
      }

      .subtitle {
        font-size: clamp(10px, 5vw, 18px);
        font-weight: 500;
      }
    }
  }
}