.Exclusive {
  position: relative;
  width: clamp(100px, 100%, 400px);
  aspect-ratio: 1/1;
  margin: auto;
  margin-top: 60px;
  border: 3px solid #754975;
  background-color: #313334;
  overflow: hidden;

  a {
    &:hover {
      .headline {
        text-decoration: underline;
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      color: white;
      background-color: #313334;

      &.unloaded {
        margin-top: 60px;
      }
    }

    .top,
    .bottom {
      position: absolute;
      left: 0;
      right: 0;
      color: #FFF;
      background-color: #000A;
      backdrop-filter: blur(4px);
    }

    $margin: clamp(2px, 0.5vw, 5px);

    .top {
      top: 0;
      margin: 0;
      text-align: center;

      h1,
      h2 {
        margin: $margin;
      }

      h1 {
        margin-bottom: 0;
        font-size: clamp(15px, 8vw, 30px);
      }

      h2 {
        margin-top: $margin;
        margin-bottom: $margin / 0.5;
        font-size: clamp(5px, 4vw, 15px);
        font-weight: 500;
      }
    }

    .bottom {
      bottom: 0;

      .headline,
      .subtitle {
        margin: $margin;
      }

      .headline {
        margin-bottom: 0;
        font-size: clamp(10px, 5vw, 25px);
      }

      .subtitle {
        font-size: clamp(10px, 5vw, 18px);
        font-weight: 500;
      }
    }
  }
}