@font-face {
  font-family: Footlight;
  src: local('Footlight'), url(../font/Footlight.woff2);
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
  background-color: #131516 !important;
}

body {
  padding: 5px;
}

header {
  width: 100%;
  max-height: 100px;
  margin-bottom: 10px;
  padding-left: clamp(0.1px, 0.8vw, 20px);

  a {
    display: inline-block;
    max-width: 100%;
    height: 100%;
    margin: 0;
    font-size: clamp(20px, 17vw, 60px);
    line-height: 0;
    color: white;
    text-decoration: none;

    span {
      display: block;
      font-family: Footlight, 'Times New Roman', Times, serif;

      &.the {
        margin-top: 4%;
        margin-left: 14%;
        font-size: 50%;
        color: #8B6491;
      }

      &.trustworthy {
        margin-top: 9%;
        color: #E2CFE8;
      }

      &.times {
        margin-top: 15%;
        margin-left: 33%;
        color: #754975;
      }
    }
  }
}

main {
  position: relative;
  $side: clamp(1px, 1vw, 15px);
  padding: 10px $side 0 $side;

  @media (max-width: 500px) {
    padding: 10px 0 0 0;
  }
}

.watermark {
  position: absolute;
  top: 10px;
  right: 10px;

  @media (max-width: 450px) {
    display: none;
  }

  img {
    width: 80px;
    opacity: 0.2;
  }
}

blockquote {
  padding: 10px;
  border-left: 10px solid #553B58;
  background-color: #25262B;
}

code {
  padding: 0 3px 1px 3px;
  background-color: #b5394430;
  color: #ce4c59;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}