.ScrollBanner {
  $height: 30px;
  height: $height;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #0c0e10;
  overflow: hidden;

  @media print {
    display: none;
  }

  &:hover {
    .wrap .move {
      animation-play-state: paused;
    }
  }

  .wrap {
    height: 100%;
    transform: translateX(100%);

    &:focus-within {
      transform: none;

      .move {
        animation: none;
      }
    }

    .move {
      display: flex;
      height: 100%;
      animation: ScrollBanner linear 10s infinite;
      animation-delay: -6s;

      @keyframes ScrollBanner {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-100%);
        }
      }

      .item {
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;

        &:hover {
          img {
            transform: scale(1.2);
          }

          .headline {
            text-decoration: underline;
            color: white !important;
          }
        }

        &.skeleton {
          * {
            user-select: none;
          }

          img {
            color: #0000 !important;
          }

          .headline {
            text-decoration: none !important;

            span {
              border-radius: 10px;
              background-color: #101214;
              color: #0000 !important;
            }
          }
        }

        a {
          display: inline-block;
          height: 100%;
          margin: 0;
          padding-right: 15px;
          text-decoration: none;

          &:focus-visible {
            border: 2px solid white;
            height: calc(100% - 4px);
            overflow: hidden;

            .headline {
              text-decoration: underline;
            }
          }

          .img-wrap {
            display: flex;
            float: left;
            width: $height;
            height: 100%;
            margin-right: 15px;

            img {
              min-width: 100%;
              min-height: 100%;
              margin: auto;
              object-fit: cover;
              color: white;
              font-size: 10px;
              color: #888;
            }
          }

          .text-wrap {
            display: inline-flex;
            padding: 0;
            height: 100%;

            .headline {
              display: inline-block;
              padding: 0;
              margin: auto;
              font-size: clamp(12px, 3vw, 17px);
              vertical-align: middle;
              font-weight: 400;
              color: #EEE;
            }
          }
        }
      }
    }
  }
}