.SlideShow {
  position: relative;
  z-index: 100;

  @media print {
    display: none;
  }

  .wrap {
    position: relative;
    width: clamp(100px, 600px, 100%);
    aspect-ratio: 5/3;
    border-radius: 3px;
    background-color: #0c0e10;
    overflow: hidden;

    @media (max-width: 901px) {
      margin: auto;
    }

    margin-bottom: 10px;

    ul {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-left: 0;
      transform: translateX(-100%);

      &.left {
        animation: SlideShow-left ease-in-out 0.7s 1;
      }

      &.right {
        animation: SlideShow-right ease-in-out 0.7s 1;
      }

      @keyframes SlideShow-left {
        from {
          transform: translateX(-200%);
        }

        to {
          transform: translateX(-100%);
        }
      }

      @keyframes SlideShow-right {
        from {
          transform: translateX(0%);
        }

        to {
          transform: translateX(-100%);
        }
      }

      li {
        position: relative;
        float: left;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        list-style: none;

        &:only-child {
          margin-left: 100%;
        }

        &.skeleton {
          background-color: #0c0e10;

          * {
            user-select: none;
          }

          img.main {
            color: #0000;
          }

          .headline,
          .subtitle {
            text-decoration: none !important;

            span {
              border-radius: 10px;
              background-color: #0a0c0e;
              color: #0000 !important;
            }
          }

          .subtitle {
            padding-top: 5px;

            span {
              border-radius: 7px;
            }
          }
        }

        &:hover {
          .text-wrap {
            background-color: #000B;

            .headline {
              text-decoration: underline;
            }
          }
        }

        a {
          display: flex;
          height: 100%;
          color: white;
          text-decoration: none;

          .img-wrap {
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0.8;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          img.watermark {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 8%;
            opacity: 0.3;
          }

          .text-wrap {
            position: absolute;
            bottom: 5%;
            left: 0;
            right: 0;
            min-height: 20%;
            max-height: 50%;
            background-color: #000A;

            @media (max-width: 600px) {
              bottom: 0;
            }

            .headline {
              margin: 10px;
              margin-bottom: 0;
              font-size: clamp(10px, 5vw, 30px);
            }

            .subtitle {
              margin: 10px;
              margin-top: 0;
              font-size: clamp(5px, 3vw, 20px);
              font-weight: 500;
              color: #AAA;
            }
          }
        }
      }
    }

    .nav-buttons {
      position: absolute;
      $size: clamp(25px, 7vw, 40px);
      $margin: calc(#{$size} * 0.2);
      top: $margin;
      left: $margin;

      .nav-button {
        width: $size;
        height: $size;
        border: none;
        border-radius: 2px;
        font-size: clamp(17px, 5vw, 25px);
        background-color: #0006;
        color: #FFFA;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          background-color: #0007;
        }

        &:focus-visible {
          outline: 2px solid white;
          background-color: #000A;
        }

        $padding: calc(#{$size} * 0.1);

        &.left {
          padding: $padding $padding 0 0;
        }

        &.right {
          margin-left: $margin;
          padding: $padding 0 0 $padding;
        }
      }
    }
  }
}