.Slides {
  @media (max-width: 1200px) {
    .VerticalSlide {
      display: none;
      top: initial;
      right: initial;
    }

    @media (min-width: 901px) {
      .SlideShow {
        display: inline;
        float: left;
        width: clamp(100px, 600px, 100%);
        max-height: 200px;
        margin-left: calc((100% - 818px) / 2);
        margin-right: 10px;
      }

      .VerticalSlide {
        position: relative;
        display: block;
        height: calc(600px / (5 / 3));
      }
    }
  }
}