.VerticalSlide {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 510px;
  border: 4px solid #593759;
  border-top: none;
  border-bottom: none;
  background-color: #0a0c0e;
  overflow: hidden;
  z-index: 500;

  @media print {
    display: none;
  }

  .nav-button {
    position: absolute;
    width: 100%;
    height: 30px;
    border: none;
    font-size: 18px;
    background-color: #754975;
    color: #DDD;
    cursor: pointer;
    z-index: 120;

    &.up {
      top: 0;
    }

    &.down {
      bottom: 0;
    }

    &:hover {
      background-color: #845784;
      color: white;
    }
  }

  .contain {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 450px;

    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0;
      transform: translateY(calc(-200% / 3));

      &.up {
        animation: SlideShow-up ease-in-out 0.5s 1;
      }

      &.down {
        animation: SlideShow-down ease-in-out 0.5s 1;
      }

      @keyframes SlideShow-up {
        from {
          transform: translateY(calc(-400% / 3));
        }

        to {
          transform: translateY(calc(-200% / 3));
        }
      }

      @keyframes SlideShow-down {
        from {
          transform: translateY(0%);
        }

        to {
          transform: translateY(calc(-200% / 3));
        }
      }

      li {
        position: relative;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        height: calc(100% / 3);
        list-style: none;
        cursor: pointer;

        &:hover {
          img {
            transform: scale(0.95);
          }

          .headline {
            text-decoration: underline;
          }
        }

        &.skeleton {
          img {
            width: 80%;
            height: 80%;
            border-radius: 5px;
            background-color: #141619;
            color: #0000 !important;
          }

          .text-wrap {
            .headline {
              span {
                display: inline-block;
                height: 25px;
                border-radius: 25px;
                background-color: #141619;
                color: #0000;
              }
            }
          }
        }

        a {
          width: 100%;
          text-decoration: none;

          .img-wrap {
            display: flex;
            width: 100%;
            height: 65%;

            img {
              max-width: 100%;
              max-height: 100%;
              flex-shrink: 0;
              flex-grow: 0;
              margin: auto;
              color: #888;
            }
          }

          .text-wrap {
            position: absolute;
            display: inline-flex;
            bottom: 0;
            width: 100%;
            height: 35%;

            .headline {
              display: inline-block;
              width: 100%;
              margin: auto 0;
              padding: 0 5px;
              font-size: 15px;
              vertical-align: middle;
              text-align: center;
              color: white;
            }
          }
        }
      }
    }
  }
}